.grain-card, .grain-link
  display flex
  padding: 5px
  flex-direction row
  justify-content: space-between

.grain-thumbnail
  margin-left 1em

.grain-link
  padding-right 0

.grain-card
  padding: 10px
  .sample-content
    margin 0  

.grain-thumbnail
  img
    border-radius 6px
  p
    padding 10px
    text-align: center
    color var(--text-color-dim)