.grain-sample-card
  display flex
  flex-direction row
  padding: 10px
  justify-content: space-between
  .sample-content
    margin 0
  

.grain-thumbnail
  img
    border-radius 6px
  p
    padding 10px
    text-align: center
    color var(--text-color-dim)